@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <form>
            <label>Username</label>
            <input type="text" class="form-control" />
            <br />
            <label>Passwort</label>
            <input type="password" class="form-control"/>
            <br />
            <input type="button" />
            <div class="g-signin2 pull-right" data-onsuccess="onSignIn"></div>
        </form>
    </div>
</div>